/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Add your custom component styles here */
}

@layer utilities {
  /* Add your custom utilities here */
}
@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.animate-scale-up {
  animation: scaleUp 0.3s ease-out;
}